body {
    background-color: whitesmoke;
}

#photo {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    margin-left: 15px;
}

#name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin: 30px 0 0 50px;
}

#student {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 0 0 0 50px;
}

#gmail {
    display: flex;  
    align-items: center;   
    gap: 8px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    
    margin: 50px 0 0 170px; 
}

#phone-num {
    display: flex;  
    align-items: right;   
    gap: 8px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    
    margin: 10px 0 0 170px; 
}

#personaldata {
    display: inline-flex;  
    align-items: center; 
    margin: auto;  
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

#educationalbackground {
    display: inline-flex;  
    align-items: center; 
    margin: auto;  
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

#skills {
    display: inline-flex;  
    align-items: center; 
    margin: auto;  
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

#footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 900;

    background-color: #9aa581;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    padding: 1px;
    border-radius: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24;
    
    color: black;
}

.header-container {
    background-color: #9aa581;
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.personaldata-container {
    background-color: #ccd5c0;
    margin-top: 5px;
    padding: 1px;
    border-radius: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.personaldata-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    width: 30%;
}

td:first-child {
    width: 150px;
}

.educationalbackground-container {
    background-color: #ccd5c0;
    margin-top: 20px;
    padding: 1px;
    border-radius: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.educationalbackground-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    width: 55%;
}

th:first-child {
    text-align: left;
    font-size: 18px;
}

td:nth-child(2) {
    width: 500px;
}

.skills-container {
    background-color: #ccd5c0;
    margin-top: 20px;
    padding: 1px;
    border-radius: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.skills-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    width: 30%;
}

.text-group {
    display: flex;
    flex-direction: column;
}

